.list-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.list-group-item { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 10px 15px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
}

.close-button {
    border: 1px solid #af0909;
    border-radius: 3px;
    background-color: #af0909;
    font-size: 14px;
    color: #fff;
}
strong {
    margin-right: 1rem;
}